.banner {
  height: 100vh;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 25px;
  }
}
